
{{>head title=title}}

<body>

  {{>nav}}

  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        {{{contents}}}
      </div>
    </div>
  </div>

  {{>footer}}

</body>

{{>end-scripts}}
